p {
    position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: lighter;
    font-size: 47px;
    line-height: 47px;

    display: inline;
    white-space: nowrap;
}

.intro_h1 {
    position: absoute;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 70px;
    /* identical to box height */
    
    display: inline;
    color: #000000;
}

.intro_div {
 
        margin: auto;
        text-align: center;
        padding-top: 10px;
      
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.landing {
    background-color: rgb(255, 255, 255);
}